{% extends "base_generic.html" %}

{% block title %}<title>{{ page_title }} - {{ category.name }}</title>{% endblock %}

{% block content %}
  <h1 class="m-top-20">{{ category.name }}</h1>

    <table>
	  <tr>
		  <td class="font-weight-bold">Название:</td>
		  <td class="p-left-10">{{ category.name }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Описание:</td>
		  <td class="p-left-10">{{ category.summary }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Доступность:</td>
		  <td class="p-left-10">{% if category.availability %} Да {% else %} Нет {% endif %}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Дата создания:</td>
		  <td class="p-left-10">{{ category.created_date|date:"d.m.Y H:i:s" }}</td>
	  </tr>
  	</table>
  
  <div class="list-group list-group-horizontal m-top-20">
	  <a href="{% url 'category_update' category.category_id %}" class="col-lg-3 list-group-item btn-add">Редактировать</a>
	  <a href="{% url 'category_delete' pk=category.category_id %}" class="col-lg-3 list-group-item m-left-30 btn-del">Удалить</a>
  </div>
{% endblock %}