{% extends "base_generic.html" %}

{% block content %}
    <h1 class="inline-b m-top-20">Список категорий</h1><a href="{% url 'category_create' %}" class="btn-add right m-top-20">Добавить категорию</a>

    {% if category_list %}
    <ul class="non-list">

      {% for category in category_list %}
        {% cycle 'one-by-one' '' as categcolors silent %}
          <li class="{{ categcolors }}">
            <a href="{{ category.get_absolute_url }}" class="non-a">{{ category.name }}
            <p>{{ category.summary }}</p></a>
          </li>
      {% endfor %}
	  
    </ul>
    {% else %}
      <p>В интернет-магазине не зарегистрировано ни одной категории</p>
    {% endif %} 
{% endblock %}