{% extends "base_generic.html" %}

{% block content %}
    <h1 class="inline-b m-top-20">Список продуктов</h1>
    <a href="{% url 'item_create' %}" class="btn-add right m-top-20">Добавить продукт</a>
    <a href="{% url 'item_news' %}" class="btn-new right m-top-20 m-right-20">Новинки <span class="ex-new">!</span></a>

    {% if item_list %}
    <ul class="non-list">

      {% for item in item_list %}
        {% cycle 'one-by-one' '' as itemcolors silent %}
          <li class="{{ itemcolors }}">
              <a href="{{ item.get_absolute_url }}" class="non-a">{{ item.name }}
                  {% if item.is_recent %}<span class="p-left-50 span-new">new<span class="ex-new">!</span></span>{% endif %}
            <p>{{ item.summary }}</p></a>
          </li>
      {% endfor %}
	  
    </ul>
    {% else %}
      <p>В интернет-магазине не зарегистрировано ни одного продукта</p>
    {% endif %}       
{% endblock %}