{% extends "base_generic.html" %}

{% block content %}
    <h1 class="inline-b m-top-20">Список продуктов</h1><a href="{% url 'item_create' %}" class="btn-add right m-top-20">Добавить продукт</a>

    {% if item_list %}
    <ul class="non-list">

      {% for item in item_list %}
      <li>
        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a> 
		<p>{{ item.summary }}</p>
      </li>
      {% endfor %}
	  
    </ul>
    {% else %}
      <p>В интернет-магазине не зарегистрировано ни одного продукта</p>
    {% endif %}       
{% endblock %}