{% extends "base_generic.html" %}

{% block title %}<title>{{ page_title }} - {{ item.name }}</title>{% endblock %}

{% block content %}
  <h1 class="m-top-20">{{ item.name }}</h1>

  <table>
	  <tr>
		  <td class="font-weight-bold">Производитель:</td>
		  <td class="p-left-10">{{ item.manufactor.name }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Категория:</td>
		  <td class="p-left-10">{{ item.category.name }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Название:</td>
		  <td class="p-left-10">{{ item.name }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Описание:</td>
		  <td class="p-left-10">{{ item.summary }}</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Цена:</td>
		  <td class="p-left-10">{{ item.price }} руб.</td>
	  </tr>
	  <tr>
		  <td class="font-weight-bold">Доступность:</td>
		  <td class="p-left-10">{% if item.availability %} Да {% else %} Нет {% endif %}</td>
	  </tr>
      {% if item.availability %}
        <tr>
            <td class="font-weight-bold">Количество:</td>
            <td class="p-left-10">{{ item.quantity }}</td>
        </tr>
      {% endif %}
      <tr>
		  <td class="font-weight-bold">Дата создания:</td>
		  <td class="p-left-10">{{ item.created_date|date:"d.m.Y H:i:s" }}</td>
	  </tr>
  </table>

	<form action="{% url 'item_to_basket' item.item_id %}" method="post">
		{% csrf_token %}
		<div class="list-group list-group-horizontal m-top-20">
			<input type="submit" class="col-lg-3 list-group-item btn-buy" value="Купить">
		</div>
	</form>

	<div class="list-group list-group-horizontal m-top-20">
		{% if perms.catalog.change_item %}
		<a href="{% url 'item_update' item.item_id %}" class="col-lg-3 list-group-item btn-add">Редактировать</a>
		{% endif %}
		{% if perms.catalog.delete_item %}
		<a href="{% url 'item_delete' item.item_id %}" class="col-lg-3 list-group-item m-left-30 btn-del">Удалить</a>
		{% endif %}
	</div>
{% endblock %}