{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ item.name }}</h1>

  <p><strong>Название:</strong> {{ item.name }}</p>
  <p><strong>Описание:</strong> {{ item.summary }}</p>
  <p><strong>Цена:</strong> {{ item.price }} руб.</p>
  <p><strong>Доступность:</strong>{% if item.availability %} Да {% else %} Нет {% endif %}</p>
  {% if item.availability %}<p><strong>Количество:</strong> {{ item.quantity }} </p> {% endif %}
  <p><strong>Дата создания:</strong> {{ item.created_date }}</p>
	
  <div class="list-group list-group-horizontal">
	  <a href="{% url 'item_update' item.item_id %}" class="col-lg-3 list-group-item btn-add">Редактировать</a>
	  <a href="{% url 'item_delete' item.item_id %}" class="col-lg-3 list-group-item m-left-30 btn-del">Удалить</a>
  </div>
{% endblock %}