{% extends "base_generic.html" %}

{% block title %}<title>{{ page_title }}{% if manufactor %} - {{ manufactor.name }}{% endif %}</title>{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="m-top-20">
        {% include "catalog/partials/form_field.html" with field=form.name class_name="width-400" %}
        {% include "catalog/partials/form_field.html" with field=form.summary class_name="width-400" %}
    </table>
    <input class="btn-add m-top-20" type="submit" value="Сохранить" />
</form>
{% endblock %}