{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ manufactor.name }}</h1>

  <p><strong>Название:</strong> {{ manufactor.name }}</p>
  <p><strong>Описание:</strong> {{ manufactor.summary }}</p>
  <p><strong>Дата создания:</strong> {{ manufactor.created_date|date:"d.m.Y H:i:s" }}</p>
  
  <div class="list-group list-group-horizontal">
	  <a href="{% url 'manufactor_update' manufactor.manufactor_id %}" class="col-lg-3 list-group-item btn-add">Редактировать</a>
	  <a href="{% url 'manufactor_delete' manufactor.manufactor_id %}" class="col-lg-3 list-group-item m-left-30 btn-del">Удалить</a>
  </div>

{% endblock %}