{% extends "base_generic.html" %}

{% block content %}
    <h1 class="inline-b m-top-20">Список производителей</h1><a href="{% url 'manufactor_create' %}" class="btn-add right m-top-20">Добавить производителя</a>

    {% if manufactor_list %}
	
    <ul class="non-list">
      {% for manufactor in manufactor_list %}
      <li>
        <a href="{{ manufactor.get_absolute_url }}">{{ manufactor.name }}</a> 
		<p>{{ manufactor.summary }}</p>
      </li>
      {% endfor %}
    </ul>
	
	<h2>Лучший производитель по мнению покупателей 2020 г.</h2>
	  <a href="">{{ great_manufactor_name }}</a> 
	  <p>{{ great_manufactor_summary }}</p>
    {% else %}
      <p>В интернет-магазине не зарегистрировано ни одного производителя</p>
    {% endif %}
{% endblock %}