{% extends "base_generic.html" %}

{% block title %}<title>{{ page_title }}{% if orderitem %} - {{ orderitem.name }}{% endif %}</title>{% endblock %}

{% block content %}
<form class="m-top-20" action="" method="post" data-get-order-item-price-url="{% url 'calculate_price' %}">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input class="btn-add" type="submit" value="Добавить" />
    </form>
{% endblock %}

{% load static %}

{% block js %}
<script src="{% static 'js/jslib.js' %}"></script>
{% endblock %}
