{% extends "base_generic.html" %}

{% block content %}
    <h1 class="inline-b m-top-20">Список заказов</h1><a href="{% url 'order_create' %}" class="btn-add right m-top-20">Создать заказ</a>

    {% if order_list %}
    <ul class="non-list">

      {% for order in order_list %}
        {% cycle 'one-by-one' '' as ordercolors silent %}
          <li class="{{ ordercolors }}">
          <a href="{{ order.get_absolute_url }}" class="non-a">Ваш заказ
            <p>{{ order.comment }}</p></a>
          </li>
      {% endfor %}
	  
    </ul>
    {% else %}
      <p>В интернет-магазине не зарегистрировано ни одного заказа</p>
    {% endif %}
{% endblock %}